.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;

  span {
    color: var(--primary);
    font-size: 3.5rem;
    font-weight: bold;
  }
}

.logoContainer:hover {
  filter: brightness(80%);
  transition: all 0.1s ease;
}
